.top-header {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-header a {
    color: white;
    font-size: 14px;
}

div.main-div {
    display: flex;
    flex-direction: row;
}
div.inner-1st-div {
    display: flex;
    justify-content: space-between;
}

div.inner-1st-div a {
   margin: 0 5px;
   color: black;
}
div.inner-2nd-div {
    position: absolute;
    left: 88%;
    display: flex;
    justify-content: space-between;
}

div.inner-2nd-div a {
   margin: 0 5px;
   color: black;
}