.App{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App a{
    color: darkgray;
    text-decoration: none !important;
}

.App a:hover{
    color: grey;
}

div.container-fluid{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

body{
    overflow-x: hidden;
}